header.post-list-header
  h1.post-list-header-title <strong>#{ name }</strong> writes.
  p I've realized I care most about 3 things: People, process, and product. Here's my writing on all 3.

!= partial("_shared/articles", { postlimit: 10 })